<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniTorrent.Dal.Properties.Settings.MiniTorrentConnectionString"
            connectionString="Data Source=NOAM_TAYRI\SQLEXPRESS;Initial Catalog=MiniTorrent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>